.cart-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.cart-item {
	width: 200px;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	border: 2px solid #e3e3e3;
	margin: 20px;
}
.image {
	border-radius: 8px 8px 0 0;
	height: clamp(10rem, 40vh, 30rem);
	width: 50%;
}
